body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo{
    color: white;
    padding: 1rem;
    margin-bottom:10px ;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    
}
#botao{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#button{
    padding: 1rem;
    margin-bottom:10px ;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.slide-top {
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
#rodape{
    text-align: center;
    margin: 10rem;
}
footer{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
#button:hover{
    background: rgb(111, 183, 231);
    box-shadow:
     2.6px 3.6px 3.2px -13px rgba(0, 0, 0, 0.105),
    7.3px 9.9px 8.8px -13px rgba(0, 0, 0, 0.15),
    17.5px 23.8px 21.1px -13px rgba(0, 0, 0, 0.195),
    58px 79px 70px -13px rgba(0, 0, 0, 0.3);
}

#drivers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#contador{
    display: none;
}
